services:
  jellyfin:
    image: jellyfin/jellyfin:latest
    container_name: jellyfin
    restart: always
    labels:
      - "com.centurylinklabs.watchtower.enable=false"
    ports:
      - "8096:8096"
    volumes:
      - ./config:/config
      - ./cache:/cache
      - ./media:/media
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Belgrade
    mem_limit: 8g
    memswap_limit: 8g
    cpus: '2.0'
    networks:
      - default



