TZ=Europe/Skopje
ANDROID_IMAGE=halimqarroum/docker-android:api-33-playstore
MEMORY=8192
CORES=4
DISABLE_ANIMATION=false
DISABLE_HIDDEN_POLICY=false
SKIP_AUTH=true
ANDROID_DATA_PATH=/home/docker-projects/android-emulator/data
ADB_KEYS_PATH=/home/docker-projects/android-emulator/keys
