services:
  nginx-vaultwarden:
    image: nginx:alpine
    container_name: nginx-vaultwarden
    restart: always
    ports:
      - "8083:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    extra_hosts:
      - "host.docker.internal:host-gateway"

